<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Dashboard | Sociality.io Dashboard</title>
</head>
<body>

  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="text-xl">Sociality.io SDK</span>
          </a>
        </div>
      </nav>
    </header>

    <div class="mx-auto max-w-screen-md py-24">
      <div class="text-center">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl">Congrats!</h1>
        <p class="mt-4 text-xl text-gray-600">You connected your social media accounts.</p>
      </div>

      <div class="mt-8 ext-gray-600 bg-slate-100 p-4 rounded-md">
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium">User Id</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{CLIENT_USER_ID}}</dd>
        </div>
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium">Access token</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 break-all">{{ACCESS_TOKEN}}</dd>
        </div>
      </div>
     

      <div class="mt-10 text-left">

        <div class="border border-gray-200">
          <div class="px-4 py-5 sm:px-6 flex items-center">
            <div class=" flex-1">
              <h2 class="text-base font-semibold leading-6">Accounts <span class="bg-slate-100 p-2 font-normal text-sm ">/accounts</span></h2>
              <p class="mt-1 text-sm text-gray-500">List the connected social media accounts.</p>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="javascript:accounts();" class="text-sm font-semibold leading-6 border border-gray-400 p-2">
                Call endpoint
              </a>
            </div>
          </div>
          <div id="accounts_result" class="overflow-auto"></div>
        </div>

        <div class="border border-gray-200 mt-10">
          <div class="px-4 py-5 sm:px-6 flex items-center">
            <div class=" flex-1">
              <h2 class="text-base font-semibold leading-6">Account <span class="bg-slate-100 p-2 font-normal text-sm ">/accounts/{account_id}</span></h2>
              <p class="mt-1 text-sm text-gray-500">Get the data of the given account.</p>
            </div>
            <div class="ml-4 flex-shrink-0">
              <select name="account" id="account" class="border border-gray-200 p-2 mr-2 text-sm">
                {{#each accounts}}
                <option value="{{this.id}}">{{this.name}} (account_id: {{this.id}})</option>
                {{/each}}
              </select>
              <a href="javascript:account();" class="text-sm font-semibold leading-6 border border-gray-400 p-2">
                Call endpoint
              </a>
            </div>
          </div>
          <div id="account_result" class="overflow-auto bg-slate-100"></div>
        </div>

        <div class="border border-gray-200 mt-10">
          <div class="px-4 py-5 sm:px-6 flex items-center">
            <div class=" flex-1">
              <h2 class="text-base font-semibold leading-6">Posts <span class="bg-slate-100 p-2 font-normal text-sm ">/posts</span></h2>
              <p class="mt-1 text-sm text-gray-500">List the latest posts of the selected social media account.</p>
            </div>
            <div class="ml-4 flex-shrink-0">
              <select name="post_account" id="post_account" class="border border-gray-200 p-2 mr-2 text-sm">
                {{#each accounts}}
                <option value="{{this.id}}">{{this.name}} (account_id: {{this.id}})</option>
                {{/each}}
              </select>
              <a href="javascript:posts();" class="text-sm font-semibold leading-6 border border-gray-400 p-2">
                Call endpoint
              </a>
            </div>
          </div>
          <div id="posts_result" class="overflow-auto"></div>
        </div>

        <div class="border border-gray-200 mt-10">
          <div class="px-4 py-5 sm:px-6 flex items-center">
            <div class=" flex-1">
              <h2 class="text-base font-semibold leading-6">Post <span class="bg-slate-100 p-2 font-normal text-sm ">/posts/{post_id}</span></h2>
              <p class="mt-1 text-sm text-gray-500">Get the data of the given post.</p>
            </div>
            <div class="ml-4 flex-shrink-0">
              <select name="post" id="post" class="border border-gray-200 p-2 mr-2 text-sm">
                {{#each posts}}
                <option value="{{this.id}}">{{../account.name}} > (post_id: {{this.id}})</option>
                {{/each}}
              </select>
              <a href="javascript:post();" class="text-sm font-semibold leading-6 border border-gray-400 p-2">
                Call endpoint
              </a>
            </div>
          </div>
          <div id="post_result" class="overflow-auto bg-slate-100"></div>
        </div>

      </div>
    </div>
  </div>


  <script>
    function accounts() {
      fetch('{{app_url}}/accounts')
        .then((response) => response.text())
        .then((text) => { 
          console.log(text);
          document.getElementById('accounts_result').innerHTML = text;
        });
    };

    function account() {
      var account_id = document.getElementById('account').value;
      console.log('account account_id ', account_id);
      fetch('{{app_url}}/account?account_id=' + account_id)
        .then((response) => response.text())
        .then((text) => { 
          console.log(text);
          document.getElementById('account_result').innerHTML = text;
        });
    }

    function posts() {
      var account_id = document.getElementById('post_account').value;
      console.log('posts account_id ', account_id);
      fetch('{{app_url}}/posts?account_id=' + account_id)
        .then((response) => response.text())
        .then((text) => { 
          console.log(text);
          document.getElementById('posts_result').innerHTML = text;
        });
    }

    function post() {
      var post_id = document.getElementById('post').value;
      console.log('post post_id ', post_id);
      fetch('{{app_url}}/post?post_id=' + post_id)
        .then((response) => response.text())
        .then((text) => { 
          console.log(text);
          document.getElementById('post_result').innerHTML = text;
        });
    }

  </script>
    
</body>
</html>